.flex-parent {
  display: flex;
  height: 960px;
}

.flex-child {
  display: block;
  height: 360px;
  width: 360px;
  background: #f00;
  margin: auto;
  display: flex;
}

.box {
  margin: auto;
}

.pre-css {
  position: absolute;
  top: 10px;
  right: 10px;
}

.pre-html {
  position: absolute;
  top: 10px;
  left: 10px;
}