.flex-parent {
  position: relative;
}

h4 {
  text-align: center;
}
.row {
  flex-direction: row;
  margin-bottom: 50px;
}

.row-reverse {
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.column {
  flex-direction: column;
  margin-bottom: 50px;
  text-align: center;
}

.column-reverse {
  flex-direction: column-reverse;
  margin-bottom: 50px;
  text-align: center;
}

.main-axis, 
.reverse-axis{
  position: absolute;
  width: 800px;
  height: 2px;
  background: navy;
  top:50%;
}

.main-axis2 {
  position: absolute;
  width: 4px;
  height: 190px;
  background: navy;
  left: 50%;
  top: 10px;
  z-index: 10;
}

.main-axis {
  right: 50px;
  z-index: 10;
}

.reverse-axis {
  left: 50px;
  z-index: 10;
}

.triangle,
.triangle-r{
  height: 0;
  width: 0;
  background: transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
}
.triangle{
  right: -15px;
  top:-8px;
  border-left: 10px solid navy;
}
.triangle-r {
  left: -15px;
  top:-8px;
  border-right: 10px solid navy;
}

.cross-axis {
  position: absolute;
  width: 4px;
  height: 25px;
  left: 50%;
  background: gold;
}

.cross-axis2 {
  position: absolute;
  height: 4px;
  width: 750px;
  top: 50%;
  left: 120px;
  background: gold;
}

.cross-triangle,
.cross-triangle2,
.triangle2-r,
.triangle2 {
  height: 0;
  width: 0;
  background: transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
}
.cross-triangle {
  top:25px;
  left: -7px;
  border-top: 10px solid gold;
}
.cross-triangle2 {
  top:-7px;
  right: -15px;
  border-left: 10px solid gold;
}

.triangle2 {
  border-top: 10px solid navy;
  bottom: -12px;
  right: -8px;
}

.triangle2-r {
  border-bottom: 10px solid navy;
  top: -12px;
  right: -8px;
}

.w100 {
  width: 100px;
}

.column > .flex-child,
.column-reverse > .flex-child {
  text-indent: 3rem;
}