header {
  min-height: 150px;
  background: rgb(21, 179, 34);
}

footer {
  min-height: 200px;
  background: rgb(10, 92, 17);
}

header, footer {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul, footer ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
}


a {
  text-decoration: none;
}

main {
  display: flex;
}

aside {
  width: 200px;
  padding: 20px;
  box-sizing: border-box;
  background: rgb(62, 58, 97);
}

section {
  width: calc(960px - 200px);
  padding: 20px;
  box-sizing: border-box;
  background: rgb(66, 87, 68);
}

p {
  text-indent: 2rem;
}

h2 {
  text-transform: capitalize;
}